---

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Redirect</title>
	</head>
	<body>
		<script>
			location.replace("https://rokimiftah.me");
		</script>
	</body>
</html>
